<p style="color: green"><%= notice %></p>

<h1>Papers</h1>

<div id="papers">
  <% @papers.each do |paper| %>
    <%= render paper %>
    <p>
      <%= link_to "Show this paper", paper %>
      <% paper.projects.each do |project| %>
        <p>
          <%= link_to "Go to #{project.name}", project %>
        </p>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New paper", new_paper_path %>