<!DOCTYPE html>
<html>
  <head>
    <title>Moti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "Papers", papers_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Projects", projects_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tasks", tasks_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Users", users_path, class: "nav-link" %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>